/dataset/LibriSpeech/*
/dataset/LibriSpeech_wav/*
/dataset/*
autovc/*
/demo/*
hifigan/model/VCTK_V1/generator_v1
/results/*
/Speech-Backbones/*
/TTS/*
/tts_hifigan/*
/wandb/*
nohup.out
*.wav
**/__pycache__/
distortions/__pycache__/
deepFake/DiffVC/checkpts/spk_encoder/pretrained.pt
deepFake/DiffVC/checkpts/vc/vc_libritts_wodyn.pt
deepFake/DiffVC/checkpts/vocoder/generator
deepFake/VQMIVC/vocoder/checkpoint-3000000steps.pkl
deepFake/VQMIVC/vqmivc_model/checkpoints/useCSMIFalse_useCPMIFalse_usePSMIFalse_useAmpTrue/VQMIVC-noMI-model.ckpt-500.pt
deepFake/VQMIVC/vqmivc_model/checkpoints/useCSMITrue_useCPMITrue_usePSMITrue_useAmpTrue/VQMIVC-model.ckpt-500.pt
deepFake/VQMIVC/vqmivc_model/vocoder/checkpoint-3000000steps.pkl
deepFake/DiffVC/checkpts/spk_encoder/pretrained.pt
deepFake/autovc/pretrained_models/*
deepFake/VALL_E_X/checkpoints/vallex-checkpoint.pt
deepFake/VALL_E_X/whisper/medium.pt
deepFake/FreeVC/checkpoints/freevc.pth
deepFake/FreeVC/outputs
deepFake/FreeVC/speaker_encoder/ckpt/pretrained_bak_5805000.pt
deepFake/FreeVC/wavlm/WavLM-Large.pt